body {
  background: #444 url("/img/body.jpg");
  font: normal 1.2em Arial, sans-serif;
  height: 100%;
  color: #ccc;
}

.h2 {
  font: normal 2em Arial, sans-serif;
  margin: 10px 0;
}

.main {
  width: 858px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: #4a4a4a;
  color: #ccc;
}

.menu {
  text-align: center;
  margin: 10px 0;
}
.menu-form {
  padding: 10px;
  color: white;
}
.menu a {
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

.index {
  text-align: center;
}

.gallery {
  text-align: center;
}
.gallery-form {
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
}
.gallery-small {
  margin-top: 10px;
  display: inline-block;
}
.gallery-small img {
  margin: 0 5px;
  border: 3px solid #ccc;
}
.gallery-small img:hover {
  border: 3px solid #034f80;
}
.gallery-small p {
  margin-top: 5px;
}
.gallery-big {
  margin: 10px 0;
  text-align: center;
}

.calc {
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.catalog {
  margin: auto;
  text-align: center;
}
.catalog-product {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px;
  outline: 2px solid #ccc;
  background: #4a4a4a;
}
.catalog-product a {
  text-decoration: none;
  color: #ccc;
}
.catalog-product h4 {
  margin: 0;
}

.product {
  text-align: center;
}
.product-form {
  /* text-align: center; */
  display: inline-block;
  width: 380px;
  outline: 2px solid #ccc;
  background: #4a4a4a;
  padding: 10px 0;
}
.product-form p {
  margin: 0;
}
.product-form a {
  margin: 0;
  text-decoration: none;
  color: #ccc;
}

.feedbacks {
  width: 380px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background: #4a4a4a;
  padding: 10px;
}
.feedback {
  display: flex;
}

.order {
  text-decoration: none;
  color: #ccc;
}
