body {
  background: #444 url("/img/body.jpg");
  font: normal 1.2em Arial, sans-serif;
  height: 100%;
  color: #ccc;
}

.menu a {
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

.gallery {
  width: 858px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: #4a4a4a;
  color: #ccc;
}

.gallery h2 {
  font: normal 2em Arial, sans-serif;
  margin: 10px 0;
}

.gallery-small {
  display: inline-block;
  text-align: center;
}

.gallery-small img {
  margin: 0 5px;
  border: 3px solid #ccc;
}

.gallery-small img:hover {
  border: 3px solid #034f80;
}

.gallery-small p {
  margin-top: 5px;
}

.gallery-big {
  margin: 10px 0;
  text-align: center;
}
